{{#each news}}
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle clearfix" data-toggle="collapse" data-parent="#accordionNews" href="#news_{{data.name}}">
				{{data.title}}
				<p class="pull-right">{{data.createdString}} <span class="badge">{{data.score}}</span> <span class="badge badge-info">{{data.num_comments}}</span></p>
			</a>
		</div>
		<div id="news_{{data.name}}" class="accordion-body collapse">
			<div class="accordion-inner">
				{{{data.selftext_html}}}
			</div>
		</div>
	</div>
{{/each}}
