<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>{{count}}</th><th>Player</th><th>Login time</th><th>Time online</th>
		</tr>
	</thead>
	<tbody>
		{{#each online}}
			<tr>
				<td><img src="{{avatarSmall}}" /></td>
				<td class="infoLink">{{id}}</a></td>
				<td>{{loginTime}}</td>
				<td>{{timeOnline}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>