<table>
	<thead>
		<td>{{count}}</td><td>Player</td><td>Login time</td><td>Time online</td>
	</thead>
	{{#each online}}
		<tr>
			<td><img src="https://minotar.net/avatar/{{id}}/16.png"/></td><td>{{id}}</td><td>{{loginTime}}</td><td>{{timeOnline}}</td>
		</tr>
	{{/each}}
</table>