<table>
	<thead>
		<td>{{count}}</td><td>Player</td><td>Login time</td><td>Time online</td>
	</thead>
	<tbody>
		{{#each online}}
			<tr>
				<td><img src="{{avatarSmall}}"/></td>
				<td><a href="#playerInfo" class="playerInfoLink" data-toggle="modal">{{id}}</a></td>
				<td>{{loginTime}}</td>
				<td>{{timeOnline}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

<!-- Modal -->
<div id="playerInfo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="playerInfoLabel">Modal header</h3>
</div>
<div class="modal-body">
<p>One fine body…</p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>