<div class="span2" >
	<h2>{{Tps}} <small><abbr title="Ticks per second">TPS</abbr></small></h2>
	<div class="progress progress-{{StatusTps}}">
		<div class="bar" style="width: {{PercentTps}}%;"></div>
	</div>
</div>
<div class="span2" >
	<h2>{{UsedMem}} <small><abbr title="Megabytes used">MB</abbr></small></h2>
	<div class="progress progress-{{StatusUsedMem}}">
		<div class="bar" style="width: {{PercentUsedMem}}%;"></div>
	</div>
</div>
<div class="span2" >
	<h2>{{LoadedChunks}} <small><abbr title="Number of loaded chunks in the world">Chunks</abbr></small></h2>
	<div class="progress progress-{{StatusLoadedChunks}}">
		<div class="bar" style="width: {{PercentLoadedChunks}}%;"></div>
	</div>
</div>
<div class="span6" >
	<h3>
		{{Players}} <small><abbr title="Players in the world">Players</abbr></small>
		{{Mobs}} <small><abbr title="Mobs in the world">Mobs</abbr></small>
		{{Items}} <small><abbr title="Total number of items">Items</abbr></small>
		{{TotalEntities}} <small><abbr title="Total number of entities loaded">Entities</abbr></small>
	</h3>
</div>
