<div class="span2" >
	<h1>{{Tps}} <small><abbr title="Ticks per second">TPS</abbr></small></h1>
	<div class="progress progress-success">
		<div class="bar" style="width: {{PercentTps}}%;"></div>
	</div>
</div>
<div class="span2" >
	<h1>{{UsedMem}} <small><abbr title="Megabytes used">MB</abbr></small></h1>
	<div class="progress progress-success">
		<div class="bar" style="width: {{PercentUsedMem}}%;"></div>
	</div>
</div>
<div class="span2" >
	<h1>{{LoadedChunks}} <small><abbr title="Number of loaded chunks in the world">Chunks</abbr></small></h1>
	<div class="progress progress-success">
		<div class="bar" style="width: {{PercentLoadedChunks}}%;"></div>
	</div>
</div>
<div class="span6" >
	<h2>
		{{Players}} <small><abbr title="Players in the world">Players</abbr></small>
		{{Mobs}} <small><abbr title="Mobs in the world">Mobs</abbr></small>
		{{Items}} <small><abbr title="Total number of items">Items</abbr></small>
		{{TotalEntities}} <small><abbr title="Total number of entities loaded">Entities</abbr></small>
	</h2>
</div>
